body
       {
      margin: 100px;
      padding: 0;
      height: 60%;
      background-image: url('Images/Technology.gif');
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
       }
    
    h2
       {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgb(48, 68, 133);
        background-color: rgb(76, 166, 240);
        border-radius: 20px;
       }
    
    h3
       {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgb(48, 68, 133);
        background-color: rgb(76, 166, 240);
        border-radius: 5px;
       }

    p
    {
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgb(241, 241, 245);
        background-color: rgb(76, 166, 240);
       } 
    
    li
    {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgb(241, 241, 245);
        background-color: rgb(76, 166, 240);
        

    }
    
    .section-titles1 {
        font-family: 'Times New Roman', Times, serif;
        color: rgb(2, 52, 99);
        background-color: rgb(76, 166, 240);
        width: 20%;
        
    }
