body{
   margin: 100px;
   padding: 0;
   height: 60%;
   background-image: url('Images/Technology2.gif');
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
       }

.intro-container{
    text-align:center;
    margin-top:30px;
}

.typing-text{
    text-align: center;
    color:#cf1818;
    font-family:Impact, sans-serif;
    overflow:hidden;
    white-space:nowrap;
    border-right:3px solid #db5a5a;
    width:0;
    margin:auto;
    animation:
        typing 3s steps(30,end) forwards,
        blink 0.7s infinite;
}

@keyframes typing{
    from{width:0}
    to{width:70%}
}

@keyframes blink{
    50%{border-color:transparent}
}

.profile-card{
    width:60%;
    margin:40px auto;
    text-align:center;
    padding:30px;
    border-radius:20px;
    background:rgba(0,0,0,0.65);
    border:2px solid rgb(3,242,250);
    backdrop-filter:blur(10px);

    box-shadow:
        0 0 20px rgb(3,242,250),
        0 0 40px rgba(3,242,250,0.4);

    transition:0.4s;
}

.profile-card:hover{
    transform:scale(1.02);
}

.profile-image img{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid rgb(3,242,250);

    box-shadow:
        0 0 20px rgb(3,242,250),
        0 0 50px rgb(3,242,250);

    transition:0.4s;
}

.profile-image img:hover{
    transform:scale(1.1);
}

.profile-name{
    text-align: center;
    background:none;
    color:white;
    margin-top:15px;
    letter-spacing:2px;
    font-family: 'Times New Roman', Times, serif
}

.profile-info{
    background:none;
    color:#07cad8;
}

.profile-description{
    background:none;
    color:#e6f7ff;
    margin-top:15px;
    line-height:1.6;
}

.content-card{
    width:75%;
    margin:30px auto;
    padding:25px;
    border-radius:15px;

    background:rgba(0,0,0,0.55);
    border-left:5px solid rgb(76,166,240);

    backdrop-filter:blur(8px);

    box-shadow:0 0 15px rgba(76,166,240,0.6);
    transition:0.3s;
}

.content-card:hover{
    transform:translateX(8px);
    box-shadow:
        0 0 20px rgb(3,242,250),
        0 0 35px rgba(3,242,250,0.5);
}

.content-card p,
.content-card li{
    background:none;
}

h2{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: rgb(48, 68, 133);
   background-color: rgb(76, 166, 240);
   border-radius: 20px;
       }
    
h3{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: rgb(48, 68, 133);
   background-color: rgb(76, 166, 240);
   border-radius: 5px;
       }

p{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: rgb(241, 241, 245);
   background-color: rgb(76, 166, 240);
       } 

li{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: rgb(241, 241, 245);
   background-color: rgb(76, 166, 240);
    }
    
.section-titles1 {
   font-family: 'Times New Roman', Times, serif;
   color: rgb(2, 52, 99);
   background-color: rgb(76, 166, 240);
   width: 20%;
        
    }
    
.lab-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

.lab-box{
    width: 260px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
    background: rgba(0,0,0,0.65);
    border: 2px solid rgb(76,166,240);
    backdrop-filter: blur(6px);

    transition: all 0.4s ease;
    box-shadow: 0 0 10px rgb(76,166,240);
}

.lab-box h4{
    margin: 10px 0;
    font-family: Impact,'Times New Roman', serif sans-serif;
    color: rgb(239, 240, 240);
}

.lab-box p{
    background: transparent;
    font-size: 14px;
    color: #07cad8;
}

.lab-box:hover{
    transform: translateY(-10px) scale(1.05);
    box-shadow:
        0 0 15px rgb(250, 3, 3),
        0 0 30px rgb(250, 3, 3),
        0 0 45px rgb(250, 3, 3);
    border-color: rgb(250, 3, 3);
}

.lab-box:active{
    transform: scale(0.97);
}

.language-container{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
    margin:30px 0;
}

.language-card{
    width:180px;
    text-align:center;
    padding:20px;
    border-radius:15px;
    background:rgba(0,0,0,0.65);
    border:2px solid rgb(76,166,240);
    transition:0.4s;
    box-shadow:0 0 15px rgb(76,166,240);
}

.language-card img{
    width:120px;
    height:120px;
    object-fit:contain;
    transition:0.4s;
}

.language-card h4{
    color:#07cad8;
    margin-top:10px;
}

.language-card:hover{
    transform:translateY(-10px) scale(1.05);
    box-shadow:
        0 0 20px rgb(3,242,250),
        0 0 40px rgb(3,242,250);
}

.language-card:hover img{
    transform:rotate(5deg) scale(1.1);
}

.projects-title{
    text-align:center;
    width:40%;
    margin:40px auto;
    padding:12px;
    letter-spacing:2px;
    box-shadow:
        0 0 10px rgb(250, 3, 3),
        0 0 25px rgb(250, 3, 3);
}

.finals-title{
    text-align:center;
    width:25%;
    margin:30px auto;
    padding:10px;
    border:2px solid rgb(250,3,3);
    box-shadow:
        0 0 10px rgb(250,3,3),
        0 0 25px rgb(250,3,3);
    color:rgb(48, 68, 133);
    border-radius: 20px;
}

.social-container{
    display:flex;
    justify-content:center;
    gap:30px;
    margin:30px 0;
}

.social-icon{
    width:150px;
    height:150px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    background:rgba(0,0,0,0.6);
    border:2px solid rgb(3,242,250);
    transition:0.4s;
    box-shadow:0 0 10px rgb(3,242,250);
}

.social-icon img{
    width:110px;
}

.social-icon:hover{
    transform:scale(1.2);
    box-shadow:
        0 0 20px rgb(250,3,3),
        0 0 40px rgb(250,3,3);
        border-color: rgb(250, 3, 3);
}